@import helper._
@import play.api.data.Form

@(loginForm: Form[LoginData])

@main("Login") {
  <h1>Login</h1>

  @helper.form(action = routes.LoginController.submitLoginDetails()) {

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required value="@loginForm("email").value">
      @loginForm("email").error.map { error =>
      <span class="error">@error.message</span> <!-- Display error message for email -->
      }
    </div>


    <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required value="@loginForm("password").value">
    @loginForm("password").error.map { error =>
    <span class="error">@error.message</span> <!-- Display error message for password -->
    }
    </div>

    <button type="submit">Login</button>


  }

  <div class="links">
    <a href="@routes.HomeController.index()">Home</a>
  </div>

}
