@import helper._
@import play.api.data.Form
@import play.filters.csrf.CSRF
@import play.api.mvc.Flash

@(loginForm: Form[LoginData])(implicit request: RequestHeader)

@main("Login") {
  <h1>Login</h1>

  @request.flash.get("success").map { message =>
  <div class="alert alert-success">@message</div>
  }

  @request.flash.get("error").map { message =>
  <div class="alert alert-danger">@message</div>
  }

  @helper.form(action = routes.LoginController.submitLoginDetails()) {

    @helper.CSRF.formField

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required value="@loginForm("email").value">
      @loginForm("email").error.map { error =>
      <span class="error">@error.message</span> <!-- Display error message for email -->
      }
    </div>


    <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required value="@loginForm("password").value">
    @loginForm("password").error.map { error =>
    <span class="error">@error.message</span> <!-- Display error message for password -->
    }
    </div>

    <button type="submit">Login</button>


  }

  <div class="links">
    <a href="@routes.HomeController.index()">Home</a>
  </div>

}
