@import helper._

@()

@main("Sign Up") {
  <h1>Sign Up</h1>

  @helper.form(action = routes.SignUpController.submitSignUpDetails()) {

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Sign Up</button>

  }

  <div class="links">
    <a href="@routes.HomeController.index()">Home</a>
  </div>

}
