@import helper._
@import play.api.data.Form
@import play.filters.csrf.CSRF
@import play.api.mvc.Flash

@(signUpForm: Form[SignUpData])(implicit request: RequestHeader)

@main("Sign Up") {
  <h1>Sign Up</h1>

  @helper.form(action = routes.SignUpController.submitSignUpDetails()) {

    @helper.CSRF.formField

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required value="@signUpForm("firstName").value">
    @signUpForm("firstName").error.map { error =>
    <span class="error">@error.message</span> <!-- Display error message for firstName -->
    }

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required value="@signUpForm("surname").value">
    @signUpForm("surname").error.map { error =>
    <span class="error">@error.message</span> <!-- Display error message for surname -->
    }

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required value="@signUpForm("email").value">
    @signUpForm("email").error.map { error =>
    <span class="error">@error.message</span> <!-- Display error message for email -->
    }

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required value="@signUpForm("password").value">
    @signUpForm("password").error.map { error =>
    <span class="error">@error.message</span> <!-- Display error message for password -->
    }

    <button type="submit">Sign Up</button>

  }

  <div class="links">
    <a href="@routes.HomeController.index()">Home</a>
  </div>

}
